{% extends 'main/layout.html' %}

{% block title %} Find ur best price. Our news{% endblock %}

{% block content %}
<h3>Profile, Username: {{ fields.user }}</h3>

    <div class="profile">

  <p> 
    {% if fields.user.profile.avatar.url == None %}
    <img src="DEFAULT_IMAGE" />
{% else %}
<img src="{{ fields.user.profile.avatar.url }}" alt="" width="80px" height="80px">
{% endif %}
  
 <br>
    Full name: {{ fields.user.get_full_name }}<br>
    
    Groupe: {{ fields.user.groups.all.0 }}<br>
    
    Emai: {{ fields.user.email }}<br>

    Telegramm:  {{ fields.user.profile.telegramm }}<br>
    
    Last login: {{ fields.user.last_login }}<br>

    Date joined: {{ fields.user.date_joined }}  <br><br>

    Description:  {{ fields.user.profile.description | safe }}

    {% comment %} <a class="nav-link" href="{{ request.user.username }}">{{ user.username }}</a> {% endcomment %}
  </p>
{% endblock %}