{% extends 'main/layout.html' %}
{% load rating_tags %}
{% render_rating_import %}

{% block title %} Find ur best price. Our news{% endblock %}

{% block content %}
<h3>Profile, Username: {{ fields.user }}</h3>

<center>{% render_rating request obj=fields.user settings_slug='default-config' %}
{% render_rating_info request=request obj=fields.user settings_slug='default-config' %}</center>

{% render_rating_import %}

    <div class="profile">

  <p> 
    {% if fields.user.profile.avatar.url == None %}
    <img src="DEFAULT_IMAGE" />
{% else %}
<img src="{{ fields.user.profile.avatar.url }}" alt="" width="80px" height="80px">
{% endif %}
  
 <br>
    Full name: {{ fields.user.get_full_name }}<br>
    
    Groupe: {{ fields.user.groups.all.0 }}<br>
    
    Emai: {{ fields.user.email }}<br>

    Telegramm:  {{ fields.user.profile.telegramm }}<br>
    
    Last login: {{ fields.user.last_login }}<br>

    Date joined: {{ fields.user.date_joined }}  <br><br>

    Description:  {{ fields.user.profile.description | safe }}

    {% comment %} {% render_rating request=request obj=fields.user settings_slug='default-config' %} {% endcomment %}
    
    {% comment %} {% render_rating request=request obj=fields.user settings_slug='like-config' %} {% endcomment %}
    {% comment %} {% render_rating_info request=request obj=fields.user settings_slug='like-config' custom_template='rating/rating/rating_info.html' %}
     {% endcomment %}
    {% render_rating_script %}

    {% comment %} <a class="nav-link" href="{{ request.user.username }}">{{ user.username }}</a> {% endcomment %}
  </p>
{% endblock %}