{% extends 'main/layout.html' %}


{% block title %} Find ur best price. Our news{% endblock %}

{% block content %}

<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          {% for el in news %}
  <h3><p>{{ el.title }}</p></h3>
  <p>{{ el.anons }}</p>
          <div class="button">
  <a href="{% url 'news-detail' el.id %}" class="btn btn-outline-secondary">Read more</a>
  </div>{% endfor %}
            
        </div> 
      </div> 
    </div>
</div>


{% endblock %}