{% extends 'main/layout.html' %}


{% block title %} Find ur best price. Our news{% endblock %}

{% block content %}

<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Find something, example: microwave NY">
          <button class="btn btn-primary">Search</button>
        </div>
        
      </div>
      
    </div>
</div>

<p>Главная страница</p>
{% include 'main/info.html' %}

{% endblock %}