
{% extends 'main/layout.html' %}

{% block title %} Find ur best price for {% lorem 2 w random %}  {% endblock %}

{% block content %}


<div class="container_2">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
        <form method="get" action='{% url 'search' %}'>
            <input class="form-control" type="text" placeholder="Search" name="q" >
            
        </form>
    </div>
                        
</div>

</div>
</div>
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
        {% for news in object_list %}
    <li>
      <p>{{ news.title|safe }}, {{ news.full_article|safe }}
    </li>
  {% endfor %}</p>
  <div class="row">
    <div class="col">
        <div class="mx-auto w-50 p-3 text-white text-center">
<ul class="pagination">
    {% if page_obj.has_previous %}
    
  <li class="text-center"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
  <li class="text-center"><a class="page-link" href="?page=1">1</a></li>
    {% endif %}
  <li class="text-center"><a class="page-link" href="">Current {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
  {% if page_obj.has_next %}
  <li class="text-center"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
  <li class="text-center"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
  {% endif %}
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

  {% comment %} {% for num in page_obj.paginator.page_range %}
            {% if num < page_obj.number and num < 4 %}
                <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
            {% elif num < page_obj.number and num > page_obj.number|add:-4 %}
                <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
            {% elif num == page_obj.number %}
                <span class="btn btn-primary">{{ num }}</span>
            {% elif num > page_obj.number and num < page_obj.number|add:4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number and num > page_obj.paginator.num_pages|add:-3 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    <center> {% endcomment %}
       
    
    
      {% endblock %}