
{% extends 'main/layout.html' %}

{% block title %} Find ur best price for {% lorem 2 w random %}  {% endblock %}

{% block content %}


<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <form method="get" action='{% url 'search' %}'>
            <input class="form-control" type="text" placeholder="Search" name="q" >
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% for news in object_list %}
    <li>
      <p>{{ news.title }}, {{ news.full_article }}
    </li>
  {% endfor %}</p>
        <p>Date: {% now "jS F Y H:i" %}</p><br>
          
      </div>


      {% endblock %}