{% extends 'main/layout.html' %}

{% block title %} Find ur best price. Our reviews{% endblock %}

{% block content %}

<div class="reviews">
  <form action="" method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.review }}<br>
        {{ form.date }}<br>
        {{ error }}
        <input type="submit" class="btn btn-outline-secondary" value="Submit comment" /><br>
    </form>

</div>
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
         
          {% for el in reviews %}
  <h3><p>{{ el.title }}</p></h3>
  <p>{{ el.review }}</p>
  <p>{{ el.date }}</p>
  {% endfor %}
        </div> 
      </div> 
    </div>
</div>


{% endblock %}