{% extends 'main/layout.html' %}



{% block title %} Find ur best price for {% lorem 2 w random %}  {% endblock %}

{% block content %}

<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <script async src="https://cse.google.com/cse.js?cx=37ca4736e78264a95">
        </script>
        <div class="gcse-search"></div>
          
        </div>
        
        <p>{{ info.city }}: {{ info.temp }} <sup>o</sup>  <img src="https://openweathermap.org/img/w/{{info.icon}}.png"  width="31" height="31" > | Date: {% now "jS F Y H:i" %}</p><br>
          
      </div>
      
    </div>
</div>
<div class="reviews">
 
</div><br>
<div class="container">
<p>Главная страница</p>
{% endblock %}
