{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <div class="login">
    <li class="last"> {{user.username}} | <a href="{% url 'edit' %}">Edit Profile</a> | <a href="{% url 'logout' %}">Logout</a></li>|
    {% if request.user.groups.all != "VIP" %}
    <a class="" 
    href="https://commerce.coinbase.com/checkout/31b51735-e0fc-4d70-9d64-90d59fce141a">
    Buy Premium &nbsp;&nbsp;
  </a>
    {% else %}
    VIP: <img src="{{ fields.user.profile.premium.url }}" alt="" width="23px" height="23px"> &nbsp;&nbsp;
    {% endif %}
    </div>
    {% else %}
    <div class="login">
    <li class="last"><a href="{% url 'signup' %}">Register</a> | <a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    </div>
    <aside>
    <img src="{% static 'main/img/logo.png' %}" alt="logo">
    <span class='logo'>PriceOpp....</span>
    <h4>Find:</h4>
    <ul>
        <a href="{% url 'home' %}"><li>Home</li><a>
        <a href="{% url 'about' %}"><li>About</li><a>
        <a href="{% url 'news' %}"><li>News</li><a>
        <a href="{% url 'reviews' %}"><li>Reviews</li><a>
        <a href="{% url 'sendemail' %}"><li>Contacts</li><a>
        <a href="{% url 'user_search' %}"><li>Profiles</li><a>
        <a href="{% url 'post_feed' %}"><li>RSS</li><a>
    </ul>
    </aside>
    
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>